<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kev.revanotes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/reva_logo_light"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/reva_logo_light"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity
            android:name=".UploadActivity"
            android:label="@string/title_activity_upload"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DisplayActivity" />
        <activity android:name=".DisplayAdapter" />
        <activity android:name=".MainAdapter" />
        <activity android:name=".SemesterActivity" />
        <activity android:name=".SemesterAdapter" />
        <activity android:name=".SubjectActivity" />
        <activity android:name=".SubjectAdapter" />
        <activity android:name=".UploadLogin" />
        <activity android:name=".Semestertest" />
        <activity
            android:name=".DisplayTabs"
            android:label="@string/title_activity_display_tabs"
            android:theme="@style/AppTheme" />
        <activity android:name=".ContactUs" />
        <activity android:name=".ContactAdapter" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>